In [ ]:
import pandas as pd
import numpy as mp
import datetime
import matplotlib.pyplot as plt
 
from google.colab import files
uploaded = files.upload()
import io
df = pd.read_csv(io.BytesIO(uploaded['hotspotResult425.csv']))

Saving hotspotResult425.csv to hotspotResult425 (9).csv

In [ ]:
toList = []
df

       bookid  username       opentime  ... clickResult      clickTime remarks
0           0         1  9/13/20 10:06  ...         NaN  9/13/20 10:06      \N
1           0         1  9/13/20 10:06  ...         NaN  9/13/20 10:07      \N
2           0         1  9/13/20 10:06  ...         NaN  9/13/20 10:07      \N
3           0         1  9/13/20 10:06  ...         NaN  9/13/20 10:07      \N
4           0         1  9/13/20 10:06  ...         NaN  9/13/20 10:07      \N
...       ...       ...            ...  ...         ...            ...     ...
36157       1       271  2/23/21 20:10  ...         NaN  2/23/21 20:43      \N
36158       1       271  2/23/21 20:10  ...         NaN  2/23/21 20:43      \N
36159       1       271  2/23/21 20:10  ...         NaN  2/23/21 20:43      \N
36160       1       271  2/23/21 20:10  ...         NaN  2/23/21 20:44      \N
36161       1       271  2/23/21 20:10  ...         NaN  2/23/21 20:44      \N

[36162 rows x 9 columns]

In [ ]:
# creat user list
userList = []
for i in df["username"]:
  if i not in userList:
    userList.append(i)

In [ ]:
QMT = '%H:%M:%S'
for i in userList:
  to1List = [i]
  student0 = df[df.username == int(i)]
  #get original open list
  frow = student0.head(1).index.values[0]
  i = 0
  openList = []
  # get opentimes
  while i < len(student0):
      k = i + frow
      if [student0.loc[k,'bookid'],student0.loc[k,'opentime'],student0.loc[k,'closetime']] not in openList:
          openList.append([student0.loc[k,'bookid'],student0.loc[k,'opentime'],student0.loc[k,'closetime']])
      i = i + 1
 
  #reset the close time
  for i in range(len(openList)):
      if openList[i][2] == "\\N":
          openList[i][2] = student0[student0.opentime == openList[i][1]].tail(1)['clickTime'].values[0]
  # get time duration
  FMT ="%m/%d/%y %H:%M"
  durationL = []
  for i in range(len(openList)):
    k = []
    k.append(openList[i][0])
    k.append(str(datetime.datetime.strptime(openList[i][2],FMT) - datetime.datetime.strptime(openList[i][1],FMT)))
    durationL.append(k)
  opentimes = len(openList)
  # delete duration small than 3 min

  ddur = []
  dopen = []
  for j in range(len(durationL)):
    if datetime.datetime.strptime(durationL[j][1],QMT) <= datetime.datetime.strptime('00:03:00',QMT):
      ddur.append(durationL[j])
      dopen.append(openList[j])
  for k in range(len(ddur)):
    durationL.remove(ddur[k])
    openList.remove(dopen[k])
    opentimes = opentimes-1

  to1List.append(openList)
  to1List.append(durationL)
  to1List.append(opentimes)
  toList.append(to1List)

In [ ]:
# create data frame
newdf = pd.DataFrame(toList,columns = ['username','openlist','duration','opentimes'])
pd.set_option('display.max_rows', 500)

In [ ]:
# get time duration
FMT ="%m/%d/%y %H:%M"
durationLL = []
opentimesLL = []
for index1, j in newdf.iterrows():
  duration = []
  for i in j['openlist']:
    temL = []
    temL.append(i[0])
    temL.append(str(datetime.datetime.strptime(i[2],FMT) - datetime.datetime.strptime(i[1],FMT)))
    duration.append(temL)
  durationLL.append(duration)
  opentimesLL.append(len(duration))
newdf['duration'] = durationLL
newdf['opentimes'] = opentimesLL

#durationL = []
#a = list()
#newdf['duration'] = durationL
#newdf['opentimes'] = (len(openList))

In [ ]:
# set reading1 and reading2 durations
Reading1D = []
Reading2D = []
for i in durationLL:
  T1D = []
  T2D = []
  for j in i:
    if j[0] == 0:
      T1D.append(j[1])
    if j[0] == 1:
      T2D.append(j[1])
  t1sum = datetime.timedelta()
  t2sum = datetime.timedelta()
  for i in T1D:
    (h, m, s) = i.split(':')
    d = datetime.timedelta(hours=int(h), minutes=int(m), seconds=int(s))
    t1sum += d
  for i in T2D:
    (h, m, s) = i.split(':')
    d = datetime.timedelta(hours=int(h), minutes=int(m), seconds=int(s))
    t2sum += d
  Reading1D.append(t1sum)
  Reading2D.append(t2sum)
newdf['Reading1_Duration'] = Reading1D
newdf['Reading2_Duration'] = Reading2D

In [ ]:
# set total duration
newdf['Total_Duration'] = mp.array(Reading1D)+mp.array(Reading2D)

In [ ]:
# set hotspot category
datatype=[]
for i in userList:
  sdtl= []
  cstudent = df[df.username==i]
  k = cstudent.value_counts('hotspotType')
  try:
    sdtl.append(k.vocabulary)
  except:
    sdtl.append(0)
  try:
    sdtl.append(k.quotes)
  except:
    sdtl.append(0)
  try:
    sdtl.append(k.discussion)
  except:
    sdtl.append(0)
  try:
    sdtl.append(k.replay_button)
  except:
    sdtl.append(0)
  try:
    sdtl.append(k.next_button)
  except:
    sdtl.append(0)
  try:
    sdtl.append(k.back_button)
  except:
    sdtl.append(0)
  datatype.append(sdtl)

In [ ]:
vl = []
ql = []
dl = []
rl = []
nl = []
bl = []
for i in datatype:
  vl.append(i[0])
  ql.append(i[1])
  dl.append(i[2])
  rl.append(i[3])
  nl.append(i[4])
  bl.append(i[5])
newdf['vocabulary'] = vl
newdf['quotes'] = ql
newdf['discussion'] = dl
newdf['replay_button'] = rl
newdf['next_button'] = nl
newdf['back_button'] = bl

In [ ]:
newdf.to_csv('ordf.csv')
files.download('ordf.csv')